body {
  background-color: #2f3828;
  padding: 70px;
}

h1 {
  font-family: Courier;
  color: #e5e6e8;
}

h2 {
  font-family: Courier;
  color: #e5e6e8;
}

p {
  font-family: Courier;
  color: #e5e6e8;
}

.link {
  font-family: Courier;
  color: #88f326;
}

mark1 {
  background-color: #FF5F1F;
  color: black;
}

mark2 {
  background-color: #90EE90;
  color: black;
}
