h1 {
  font-family: Courier;
}

h2 {
  font-family: Courier;
}

p {
  font-family: Courier;
}

.link {
  font-family: Courier;
  color: #009900;
}

mark1 {
  background-color: #FF5F1F;
  color: black;
}

mark2 {
  background-color: #90EE90;
  color: black;
}
